form {
  text-align: left;
  width: 50%;
  margin: auto;
}

button, label {
  text-transform: capitalize;
}

label {
  display: block;

}

input {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  padding: 7px;

  &.error {
    border-color: indianred;
  }
}

span.error {
  color: red;
  display: block;
  font-size: smaller;
  margin-top: 2px;
}
